@model ShopCartViewModel

<div class="container">
	@foreach(var el in Model.shopCart.ListShopItems){
		<div class="alert alert-warning mt-3">
			<b>Books:</b>@el.book.Name<br>
			<b>Description:</b>@el.book.shortDesc
			<b>Grade:</b>@el.book.grade
			<b>Price:</b>@el.book.price.ToString()$
			<b></b>
		</div>

	}
	<hr />
	<a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Pay</a>
</div>
