@model HomeViewModel

<h1>Best book</h1>

<div class="row mt-5 mb-3">

    @{
        foreach (Book book in Model.favBook)
        {
            @Html.Partial("AllBooks", book);
        }
    }
</div>